#scene-container {
    /*z-index: 0;*/
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: none;
    user-select: none;
}

#toolbar{
    display: none;
    position: absolute;
    top: 55px;
    left: 15px;
    user-select: none;
    width: 120px;

}

.toolbar-div{
    cursor: pointer;
    user-select: none;
    background: #efefef;
    border: 2px solid black;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    margin-right: 3px;
}

.toolbar-div:hover{
    background: #dfdfdf;
}

.toolbar-img{
    /*padding: 3px;*/
    pointer-events: none;
    width: 30px;
    height: 30px;
}

#panel{
    user-select: none;
}


#snackbar {
    max-width: calc(100% - 350px);; /* Set a default minimum width */
    max-height: 200px;
    text-align: center; /* Centered text */
    border: solid 2px black; /* Add a solid border */
    border-radius: 2px; /* Rounded borders */
    padding: 5px; /* Padding */
    position: absolute;
    justify-content: flex-start;
    box-sizing: border-box;
    box-shadow: 0 0 4px black;
    bottom: 50px;
    left: 10%;
}

.warning {
    background-color: #f44336;
    color: black;
}

.success {
    background-color: #4CAF50;
    color: black;
}

#scene-switch{
    position: absolute;
    top: 20px;
    right: 20px;
    user-select: none;
    display: none;
    width: 30px;
    height: 30px;

    background: #efefef;
    border: 2px solid black;
    border-radius: 5px;
}

#scene-switch:hover{
    cursor: pointer;
    background: #dfdfdf;
}

#scene-switch-img{
    width: 30px;
    height: 30px;
}


#scene-message{
    /*display: none;*/
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;

    opacity: 0;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

#container{
    position: relative;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;}
}