html
{
    height:100%;
}

body {
    margin: 0;
    background-color: #dde4e9;
    height: 100%;
}

nav
{
    z-index: 3;
    background-color:transparent;
    display: flex;
    flex-direction: row;
}

nav li
{
    list-style-type: none;
    width: 30px;
    height: 30px;
}

#home
{
    background-image: url("ressources/home.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    cursor: pointer;
}
#home a{
    color: transparent;
}

#import
{
    position: relative;
    margin: auto;
    width: 150px;
    height: 50px;
    text-align: left;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    border: none;
    background-color: #e88146;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.56);
    cursor: pointer;
    font-family: Montserrat, sans-serif;
}

#import::after
{
    content: '';
    background-image: url("../resources/upload.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: right;
    position: absolute;
    width:80px;
    height: 100%;
    background-color: #ffffff;
    right: 0;
    top: 0;
    clip-path: polygon(
            50% 0%,
    100% 0%,
    100% 100%,
    0% 100%
    );
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

#content
{
    z-index: 0;
    width: 95%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center ;
    flex-direction: row;
    position: relative;
    column-gap: 30px;
    padding: 10px;
}

.hidden{
    visibility: hidden;
    display: none;
}



#scene-container {
    z-index: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
    display: none;
}

#toolbar{
    display: none;
    position: absolute;
    top: 70px;
    left: 15px;
    border: #dde4e9 1px solid;
    background-color: white;
}

.toolbar-button{
    cursor: pointer;
    user-select: none;
    text-align: center;
}

.toolbar-img{
    pointer-events: none;
    width: 15px;
    height: 15px;
}

/**MENU MODIFICATION**/
#menuModification{
    right: 0;
    width:250px;
    height: 100%;
    background-color: #cbcbcb;
}
