html
{
    user-select: none;
    height:100%;
    font-family: Montserrat, sans-serif;
}

body {
    margin: 0;
    background-color: #dde4e9;
    height: 100%;
}

nav
{
    width: 100%;
    height: 40px;
    z-index: 3;
    background-color:#e88146;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.56);
}

nav ul
{
    margin: 0;
    padding: 0;
    padding-left: 30px;
    padding-top: 2px;
    height: 100%;
    display: flex;
    flex-direction: row;
}

nav li
{
    list-style-type: none;
    transform: translateY(50%);
    margin-right: 20px;
    position: relative;
    height: fit-content;
    padding-bottom: 2px;
    cursor: pointer;
}

nav li::before
{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0px;
    height: 0.6px;
    background-color: black;
    transition: 0.5s all ease;
}

nav li:hover::before
{
    width: 100%;
}

nav li a
{
    font-variant: all-petite-caps;
    font-weight: 80;
}

#import
{
    position: relative;
    margin: auto;
    width: 150px;
    height: 50px;
    text-align: left;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    border: none;
    background-color: #e88146;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.56);
    cursor: pointer;
    font-variant: all-petite-caps;
    font-weight: 80;
    grid-column: 1/3;
}

#import::after
{
    content: '';
    background-image: url("../resources/img/iconsMenu/telecharger.png");
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: 72%;
    position: absolute;
    width:80px;
    height: 100%;
    background-color: #ffffff;
    right: 0;
    top: 0;
    clip-path: polygon(
            50% 0%,
    100% 0%,
    100% 100%,
    0% 100%
    );
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

#content
{
    z-index: 0;
    width: 100%;
    height: 94%;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 100%;
}

.hidden{
    visibility: hidden;
    display: none;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    /* Add the following animation properties */
    animation-name: fadeIn;
    animation-duration: 1.5s; /* Adjust the duration as needed */
}

#exportButton {
    width : max-content;
}

/* Add this CSS rule to disable animation when the modal is initially hidden */
.modal[style*="display: none;"] {
    animation: none !important;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
